@import './base.css';

#app {
  margin: 0 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  background-image: url('https://tuxlink.files.wordpress.com/2010/04/snow-leopard-server-wallpaper.jpg');
  background-size: cover;
  margin: 0;
}

@media (min-width: 1024px) {

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
  }
}
